html {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
/* font-family: "Anonymous Pro", monospace; */
body {
  margin: 0;
  font-family: Anonymous Pro;
  background-color: #f1f1f1;
}
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background-color: #ffffff;
  min-height: 112px;
  border-bottom: 1px solid #a1a6b4;
}
.header-title {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.status-img {
  width: 215px;
  height: 64px;
}
.status {
  padding-top: 25px;
}
.status-button {
  border: none;
  background-color: #ffffff;
  color: rgb(17, 22, 35);
  font-family: Anonymous Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;

  text-align: left;
  padding: 0;
  margin-left: 8px;
}
.footer {
  position: relative;
  bottom: 0;
  background-color: #121723;
  min-height: 156px;
  width: 100%;
}
.footer-content-top {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  margin-bottom: 24px;
}
.footer-status {
  padding-top: 2px;
}
.footer-status-button {
  border: none;
  background-color: #121723;
  color: #ffffff;
  font-family: Anonymous Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding: 0;
  margin-left: 8px;
}
.footer-content-bottom {
  border-top: 1px solid #a1a6b4;
  padding-top: 23px;
}
.content-bottom-text {
  color: rgb(161, 166, 180);
  font-family: Anonymous Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.sneakers {
  color: rgb(18, 23, 35);
  font-weight: 700;
  margin: 0 0 32px 0;
  text-align: left;
}
.collection {
  font-size: 48px;
  line-height: 100%;
  padding: 32px 0;
}
.sneakers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.a-text {
  text-decoration: none;
}
.sneakers-grid-items {
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 32px;
  max-width: 364px;
}
.sneakers-grid-items:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -10px;
  transition-duration: 0.3s;
}
.sneakers-img {
  margin-bottom: 32px;
  border-radius: 10px;
}
.sneakers-text-h2 {
  font-size: 26px;
  line-height: 26px;
  padding: 0 24px 12px 24px;
  color: rgb(18, 23, 35);
}
.sneakers-text-h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 24px;
  color: rgb(18, 23, 35);
}

.sneakers-info {
  background-color: #fff;
  padding: 48px;
  border-radius: 54px;
  margin: 32px 0 48px 0;
}
.sneakers-info-img {
  width: 100%;
  border-radius: 54px;
  margin-bottom: 30px;
}
.sneakers-info-text {
  font-weight: 400;
}
.sneakers-title-h1 {
  font-size: 48px;
  margin-bottom: 25px;
}
.sneakers-title-h2 {
  font-size: 36px;
  margin-bottom: 24px;
}
.about-sneakers {
  display: flex;
  justify-content: space-between;
}
.description {
  font-size: 20px;
  line-height: 28px;
  max-width: 506px;
}
.characteristic {
  width: 506px;
}
.characteristic-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(18, 23, 35);
}

.sneakers-title-h3 {
  font-size: 30px;
  line-height: 30px;
}
.characteristic-p {
  font-size: 20px;
  line-height: 20px;
  padding-top: 22px;
}
.recommendation {
  margin-bottom: 32px;
}
.recommendation-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .sneakers-grid-items {
    max-width: 304px;
  }
  .about-sneakers {
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }
  .characteristic,
  .description {
    max-width: 624px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .sneakers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection {
    font-size: 42px;
  }
  .about-sneakers {
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }
  .characteristic,
  .description {
    max-width: 624px;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .container {
    max-width: 343px;
  }
  .header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sneakers-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .collection {
    font-size: 32px;
  }
  .container {
    padding: 0;
  }
  .sneakers-grid-items {
    min-width: 343px;
  }
  .footer-content-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
  }
  .footer-status {
    padding-top: 32px;
  }
  .sneakers-title-h1 {
    font-size: 32px;
  }
  .sneakers-title-h2 {
    font-size: 20px;
  }
  .sneakers-title-h3 {
    font-size: 32px;
  }
  .sneakers-title-h3 {
    font-size: 24px;
  }
  .characteristic-p {
    font-size: 16px;
  }
  .recommendation-title {
    font-size: 32px;
  }
  .sneakers-info {
    padding: 24px;
  }
}
